body {
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 1.6;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
hr {
  display: block;
  width: 100%;
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 40px 0;
}
/* Container*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* Intro*/
.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  background: url(../images/intro.jpg.jpg) center no-repeat;
  background-size: cover;
}
.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}
.intro__suptitle {
  color: #fff;
  font-size: 72px;
  font-family: "Kaushan Script", cursive;

  margin-bottom: 20px;
}

.intro__title {
  font-size: 150px;

  font-weight: 700;
  text-transform: uppercase;

  line-height: 1;
  color: #fff;
}

.intro__title:after {
  content: "";
  display: block;
  width: 60px;

  height: 3px;
  margin: 60px auto;
  background-color: #fff;
}

/* Header */
.header {
  padding-top: 30px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1000;
}
.header__inner {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.nav {
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.nav__link {
  display: inline-block;

  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #fff;

  text-decoration: none;
  transition: color 0.2s linear;
}
.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 1;
}
.nav__link:hover {
  color: #fce38a;
}
.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1;
}

.nav__link.active::after {
  color: #fce38a;
}
/* Button*/
.btn {
  display: inline-block;
  color: #fff;
  padding: 8px 30px;
  border: 3px solid #fff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  font-size: 14px;
  font-weight: 700;
  /* explore */
  transition: background 0.1s linear, color 0.1s linear;
}
.btn:hover {
  background-color: #fff;
  color: #333;
}

/* Slider */

.slider {
  width: 100%;
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 23%;
  font-size: 18px;
  padding: 20px 0;
  border-top: 3px solid #fff;

  text-transform: uppercase;
  opacity: 0.7;
  position: relative;
}
.slider__item.active {
  opacity: 1;
}
.slider__item.active::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 70px;
  height: 3px;
  z-index: 1;
  background-color: #f38181;
}
.slider__num {
  font-size: 24px;
  font-weight: 700;
}

/* Section*/

.section {
  padding: 80px 0;
  color: #333;
}
.section--gray {
  background: #f8f8f8;
}
.section--devices {
  margin-bottom: 40px;
  background: url(../images/miyagi.jpg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 0;
}
.section__header {
  text-align: center;
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
}
.section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 34px;
}
.section__title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.section__title::after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: #f38181;
  margin: 30px auto 30px;
}

.section__text {
  font-size: 15px;
  color: #999;
}

/* card*/

.card {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.card__item {
  width: 380px;
}
.card__inner {
  background-color: #95e1d3;
  position: relative;
}
.card__item:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
}
.card__item:hover .card__img img {
  opacity: 0.1;
}
.card__item:hover .card__text {
  opacity: 1;
}
.card__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.2s linear;
}
.card__img img {
  display: block;
  transition: opacity 0.1s linear;
}
.card__info {
  margin-top: 20px;
  text-align: center;
}
.card__name {
  color: #333;
  margin-bottom: 5px;
  font-size: 14px;
  text-transform: uppercase;
}
.card__prof {
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
  color: #999;
}
.card__text {
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  z-index: 1;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
}

/* Statistics*/

.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat__item {
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
  padding: 70px 25px;
}
.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}
.stat__count {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}
.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Services*/

.services {
  display: flex;
}

.services__item {
  flex: 1 1 0;
  padding-right: 35px;
  padding-left: 85px;
  position: relative;
}
.services__icon {
  position: absolute;
  top: 2px;
  left: 28px;
  z-index: 1;
}
.services__title {
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 10px;
}
.services__text {
  font-size: 15px;
  color: #999;
}

/* divices*/

.divices {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.divices__item {
  display: block;
}
.divices__item--iphone {
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;
}

.wedo {
  display: flex;
}
.wedo__item {
  width: 50%;
}

/* accordion*/

.accordion__item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.accordion__item.active .accordion__content {
  display: block;
}
.accordion__item.active .accordion__header {
  border-bottom-color: 1px solid #e5e5e5;
}
.accordion__item.active .accordion__header:after {
  content: "";
  display: BLOCK;
  width: 16px;
  height: 16px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 60%;
  right: 20px;
  z-index: 1;
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}
.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  transform: translateY(-50%);
}
.accordion__header {
  border-bottom: 1px solid transparent;
  padding: 15px 20px 15px 65px;
  position: relative;
  cursor: pointer;
}
.accordion__header::after {
  content: "";
  display: BLOCK;
  width: 16px;
  height: 16px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%) rotate(135deg);
}
.accordion__content {
  padding: 15px 20px;
  font-style: italic;
  font-size: 15px;
  color: #999;
  font-weight: 300;
  display: none;
}
.accordion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}
.web {
  padding-bottom: 0;
}
/*reviwes*/
.reviews {
  padding: 0 110px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.reviews__item {
  padding-left: 205px;
  position: relative;
}
.reviews__photo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.reviwes__text {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  color: #999;
  margin-bottom: 15px;
}
.reviews__autor {
  font-size: 24px;
  color: #333;
  font-family: "Kaushan Script", cursive;
}
.reviews__autor:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-color: #f38181;
  width: 60px;
  height: 3px;
  margin-right: 10px;
}

.reviews__btn {
  position: absolute;
  font-size: 0;
  color: transparent;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.reviews__btn::after {
  content: "";
  display: BLOCK;
  width: 16px;
  height: 16px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  position: absolute;
}

.reviews__btn--prev {
  left: 0;
  transform: rotate(-45deg);
}
.reviews__btn--next {
  transform: rotate(135deg);
  right: 0;
}
/*social*/
.social {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.social__item {
  background: #fce38a;
  line-height: 1;
  width: 55px;
  height: 55px;
  padding: 12px 10px;
  color: #f38181;
  font-size: 30px;
  text-decoration: none;
  border-right: 1px solid #f38181;
  transition: background 0.1s linear, color 0.1s linear;
}
.social__item:hover {
  background-color: #f38181;
  color: #fff;
}
.social__item:last-child {
  border-right: 0;
}

/* logos*/

.logos {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
/* Works*/
.works {
  display: flex;
}

.works__col {
  flex: 1 1 0;
}
.works__item {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}
.works__item:hover .works__img {
  opacity: 0.1;
}
.works__img {
  transition: opacity 0.2s linear;
}
.works__info {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  z-index: 1;
}
